<div>
    mat-icon makes it easier to use vector-based icons in your app. 
    This directive supports both icon fonts and SVG icons, but not bitmap-based formats (png, jpg, etc.).
</div>
<p>
    Step 1 : Need to add <b>MatIconModule </b> in the materila.module.ts file <br>
    Step 2 : Craete a Componet to experiment the Material Icons Class<br>
    Step 3 : add the rounting details in <b> app.component.ts & app-routing.ts files<br>
    Step 4 : go to the https://material.io/resources/icons/?style=baseline or https://v7.material.angular.io/components/icon/overview
    path copy the text value for the icons and use here </b> 
</p> 


<div>
    <mat-icon>account_balance</mat-icon> &nbsp; 
    <mat-icon color='primary'>account_circle</mat-icon> &nbsp;
    <mat-icon color='warn'>commute</mat-icon> &nbsp;
    <mat-icon color='accent'>alarm</mat-icon> &nbsp;<br>

    <h1>we can use the SVG Icons like below :</h1> <br>

    <mat-icon svgIcon="medical-mask-01"></mat-icon>
</div>
