<div>Text Decoration using Angular Material : Typography </div>

<h1 style="color: blue;">Used : mat-display-1 </h1>
<div class="mat-display-1" >Large : one-off header, usually at the top of the page </div>
<div class="mat-display-2">Large : one-off header, usually at the top of the page</div>
<div class="mat-display-3">Large : one-off header, usually at the top of the page</div>
<div class="mat-display-4">Large : one-off header, usually at the top of the page</div>

<h1 style="color:#00ffff;">Used : mat-display-1 </h1>
<div class="mat-h1">Section heading corresponding to the <b>mat-h1 = h1 or mat-headline </b> tag</div>
<div class="mat-h2">Section heading corresponding to the <b>mat-h2 = h2 or mat-title	 </b> tag</div>
<div class="mat-h3">Section heading corresponding to the <b>mat-h3 = h3 or mat-subheading-2 </b> tag</div>
<div class="mat-h4">Section heading corresponding to the <b>mat-h4 = h4 or mat-subheading-1 </b> tag</div>

<h1 style="color:#00ffff;">Used : mat-display-1 </h1>
<div class="mat-body" >Section heading corresponding to the <b>mat-body =   mat-body-1 </b> tag</div>
<div class="mat-body-strong">Section heading corresponding to the <b>mmat-body-strong = mat-body-2 </b> tag</div>
<div class="mat-small">Section heading corresponding to the <b>mat-small = mat-caption </b> tag</div>

<!-- By default, Angular Material applies no global styles to native elements. -->
<h1>This header is unstyled</h1>

<!-- Applying the mat-tyography class adds styles for native elements. -->
<section class="mat-typography">
  <h1>This header will be styled: bcz it is under mat-tyography class- see the code</h1>
</section>