<div>
    <b> mat-card </b> is a content container for text, photos, and actions in the context of a single subject.<br>
</div>
<p>
   Step 1 : Need to add <b> MatCardModule </b> in the materila.module.ts file <br>
   Step 2 : Craete a Componet to experiment the Grid  List Layout in the page <br>
   Step 3 : add the rounting details in <b> app.component.ts & app-routing.ts files</b><br>
   Step 4 : <br>
   mat-card-title <br>
   mat-card-subtitle <br>
   mat-card-content <br>
   mat-card-actions <br>
   mat-card-footer  
</p> 
<br>
Test 1:
<mat-card>Simple card</mat-card>
<br>
Test 2:
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

