<div>
    <b> mat-progress-bar </b> are a circular indicators of progress and activity in a straight Line. 
</div>
<p>
   Step 1 : Need to add <b>MatProgressBarModule </b> in the materila.module.ts file <br>
   Step 2 : Craete a Componet to experiment the Material Progress Bar <br>
   Step 3 : add the rounting details in <b> app.component.ts & app-routing.ts files</b><br>
   Step 4 :  Progress mode : The progress-bar supports four <b>modes: determinate, indeterminate, buffer and query. </b><br>
</p> 

Test 1: determinate: Deafult with value: <mat-progress-bar mode="determinate" value="40"></mat-progress-bar><br>
Test 2: indeterminate:  Operations where the user is asked to wait while something finishes and it’s not necessary to indicate how long it will take should use the indeterminate indicator.:
    <mat-progress-bar mode="indeterminate"></mat-progress-bar> <br>
Test 3: buffer: Operations where the user wants to indicate some activity or loading from the server, use the buffer indicator.: value determines the progress of the primary bar while the bufferValue is used to show the additional buffering progress.
<mat-progress-bar mode="buffer" color='accent'></mat-progress-bar><br>
Test 3: Query: For situations where the user wants to indicate pre-loading (until the loading can actually be made), use the query indicator.
<mat-progress-bar mode="query"></mat-progress-bar>